<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover,cobertura,json</Format>
          <Exclude>[*.Tests]*,*Program*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/Migrations/**,**/DTOs/**,**/Resources/**,**/Domain/**,**/Infrastructure/**,**/Program.cs,**/Properties/**,**/*.http,**/appsettings*.json</ExcludeByFile>
          <IncludeDirectory>../../src/UCConverter.Api/</IncludeDirectory>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
  </RunConfiguration>
</RunSettings>

